---
layout: default
---
   
<div class="row">
  <div class="col-lg-8 col-lg-push-4">
		<h1>Manuel Kansy <td>
        	 <a style="padding-left:10px;" href="mailto:manuel.kansy@inf.ethz.ch"><i class="fa fa-envelope-square" style="font-size: 1.em;"></i></a></li>
			 <a style="padding-left:10px;" href="https://scholar.google.com/citations?user=DDNXeM8AAAAJ&hl"><i class="ai ai-google-scholar-square" style="font-size: 1.em;"></i></a></li>
             <a style="padding-left:10px;" href="https://twitter.com/manuelkansy"><i class="fa fa-twitter-square" style="font-size: 1.em;"></i></a></li>
             <!-- <a style="padding-left:10px;" href="https://github.com/mkansy"><i class="fa fa-github-square" style="font-size: 1.em;"></i></a></li> -->
			 <!-- <a style="padding-left:10px;" href="docs/cv_manuel_kansy.pdf"><i class="ai ai-cv-square" style="font-size: 1.em;"></i></a></li> -->
             </td></h1> 
		PhD Student, ETH Zurich / DisneyResearch|Studios
		
		<h2> About Me </h2>
	{{ content }}
	
  </div>
    <div class="col-lg-4 col-lg-pull-8" >
		{% include bio.html %}
  </div> 
</div>
<div class="row">
<div class="col-sm-12">
	{% capture my_include %}{% include_relative publications.md %}{% endcapture %}
	{{ my_include | markdownify }}
</div>
</div>
<div class="row">
<div class="col-sm-12">
	{% capture my_include %}{% include_relative university_projects.md %}{% endcapture %}
	{{ my_include | markdownify }}
</div>
</div>
<div class="row">
<div class="col-sm-12">
	{% capture my_include %}{% include_relative student_supervision.md %}{% endcapture %}
	{{ my_include | markdownify }}
</div>
</div>
<div class="row">
<div class="col-sm-12">
	{% capture my_include %}{% include_relative teaching.md %}{% endcapture %}
	{{ my_include | markdownify }}
</div>
</div>
<div class="row">
<div class="col-sm-12">
	{% capture my_include %}{% include_relative other_activities.md %}{% endcapture %}
	{{ my_include | markdownify }}
</div>
</div>

<p> &nbsp; </p>
